:root{
  --pink: #F6E5F5;
  --beige: #F6E7E6;
  --blue: #B9CCED;
  --dark-blue: #8cade6;
  --ligth-pink: #f8e8f4;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: .01fr 1fr;
  grid-template-rows: 1fr 1fr / auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.app {
  background: unset;
  background-color: var(--beige);
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 1.5em ;
  
}


.sidebar {
  grid-area: 1 / 1 / 2 / 2;
  width: 7em;
  background-color: var(--beige);
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sidebar button {
  background-color: var(--blue);
  width: 70%;
  padding: .5em;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


h2 {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  background-color: #ffffff;
  width: 97%;
  padding: 1.5em;
  border-radius: 30px;
}

button {
  margin: 5px 0;
}